<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Halfdeveloped: {{title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/defaults.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <script async defer data-domain="halfdeveloped.com" src="https://plausible.io/js/plausible.js"></script>
</head>

<body>
  <header class="hdcom-siteHeader">
    <img src="/assets/hdlogo.png" />
    <nav>
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
    </nav>
  </header>

  <main>
    <section>
      {{ content }}
    </section>
    <section>
      <ul>
        {%- for post in collections.post -%}
        <li>
          <a href="{{ post.url | url }}">{{post.date | dateReadable}}: {{post.data.icon}} {{ post.data.title }}</a>
        </li>
        {%- endfor -%}
      </ul>
    </section>
  </main>
  <footer>
    Julius Rajala, 2021
  </footer>
</body>

</html>